<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ShopInfoMapper">
    
    <resultMap type="ShopInfo" id="ShopInfoResult">
        <result property="id"    column="id"    />
        <result property="shopName"    column="shop_name"    />
        <result property="shopImg"    column="shop_img"    />
        <result property="sellerId"    column="seller_id"    />
        <result property="sellerAccount"    column="user_account"    />
        <result property="goodsNum"    column="goods_num"    />
        <result property="fansNum"    column="fans_num"    />
        <result property="soldNum"    column="sold_num"    />
        <result property="recommendedFlag"    column="recommended_flag"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectShopInfoVo">
        select a.id, shop_name, shop_img, seller_id, user_account, goods_num, fans_num, sold_num, recommended_flag, a.status, del_flag, a.create_by, a.create_time, a.update_by, a.update_time, a.remark
        from shop_info a
                 left join user_info b
                           on a.seller_id = b.id
    </sql>

    <select id="selectShopInfoList" parameterType="ShopInfo" resultMap="ShopInfoResult">
        <include refid="selectShopInfoVo"/>
        <where>  
            <if test="shopName != null  and shopName != ''"> and shop_name like concat('%', #{shopName}, '%')</if>
            <if test="sellerId != null "> and seller_id = #{sellerId}</if>
            <if test="status != null "> and a.status = #{status}</if>
            <if test="params.randNum != null"> and IF((select COUNT(0) count from shop_info where recommended_flag = 1) = 0, a.id in (select id from (select id from shop_info order by RAND() limit #{params.randNum}) as a),a.id in (select id from (select id from shop_info where recommended_flag = 1 order by RAND() limit #{params.randNum}) as a))</if>
            and del_flag = 0
        </where>
    </select>
    
    <select id="selectShopInfoById" parameterType="Long" resultMap="ShopInfoResult">
        <include refid="selectShopInfoVo"/>
        where a.id = #{id}
    </select>

    <insert id="insertShopInfo" parameterType="ShopInfo" useGeneratedKeys="true" keyProperty="id">
        insert into shop_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="shopName != null and shopName != ''">shop_name,</if>
            <if test="shopImg != null">shop_img,</if>
            <if test="sellerId != null">seller_id,</if>
            <if test="goodsNum != null">goods_num,</if>
            <if test="fansNum != null">fans_num,</if>
            <if test="soldNum != null">sold_num,</if>
            <if test="recommendedFlag != null">recommended_flag,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="shopName != null and shopName != ''">#{shopName},</if>
            <if test="shopImg != null">#{shopImg},</if>
            <if test="sellerId != null">#{sellerId},</if>
            <if test="goodsNum != null">#{goodsNum},</if>
            <if test="fansNum != null">#{fansNum},</if>
            <if test="soldNum != null">#{soldNum},</if>
            <if test="recommendedFlag != null">#{recommendedFlag},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateShopInfo" parameterType="ShopInfo">
        update shop_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="shopName != null and shopName != ''">shop_name = #{shopName},</if>
            <if test="shopImg != null">shop_img = #{shopImg},</if>
            <if test="sellerId != null">seller_id = #{sellerId},</if>
            <if test="goodsNum != null">goods_num = #{goodsNum},</if>
            <if test="fansNum != null">fans_num = #{fansNum},</if>
            <if test="soldNum != null">sold_num = #{soldNum},</if>
            <if test="recommendedFlag != null">recommended_flag = #{recommendedFlag},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="updateShopFansNum">
        update shop_info set fans_num = fans_num + #{changeNum} where id = #{shopInfoId}
    </update>

    <delete id="deleteShopInfoById" parameterType="Long">
        update shop_info set del_flag = 1 where id = #{id}
    </delete>

    <delete id="deleteShopInfoByIds" parameterType="String">
        update shop_info set del_flag = 1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>